.calcom-admin-wrap {
    margin: 0;
    padding: 0;
}

.calcom-admin-frame-wrapper {
    position: relative;
    width: calc(100% + 20px);
    margin-left: -20px;
    height: calc(100vh - 160px);
    max-height: 100%;
}

.calcom-admin-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background: #0c0c0c;
}

@media (max-width: 782px) {
    .calcom-admin-frame-wrapper {
        width: 100%;
        margin-left: 0;
        height: calc(100vh - 120px);
    }
}
